.DS_Store
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-store/
__pycache__/
*.py[cod]
.venv/
.env
.env.*
bin/
dist/
*.exe
*.test
coverage.out
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*.tfvars
*.pid
**/.pytest_cache
**/.mypy_cache
.vscode/
.idea/
